.image-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.image-modal-content {
  position: relative;
  max-width: 80vw;
  max-height: 80vh;
  /* background-color: rgba(0, 0, 0, 0.75); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  max-height: 90%;
}

.image-modal-content img {
  object-fit: contain;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;

  position: relative !important;
  width: unset !important;
  height: unset !important;
}

.slide-close-button {
    position: absolute;
    top: 6px;
    right: 6px;
    background: none;
    border: none;
    font-size: 46px;
    line-height: 46px;
    cursor: pointer;
    color: #b7b7b7;
    z-index: 1;
    background-color: rgba(29, 29, 29, 0.2);
    padding: 0px 8px;
    border-radius: 4px;
    transition: 0.4s ease;
}

.slide-close-button:hover {
    color: #dddddd;
    background-color: rgba(86, 86, 86, 0.6);
}