NEXT_PUBLIC_NODE_ENV =
NEXT_PUBLIC_DOMAIN =
NEXT_PUBLIC_HOST =

NEXT_PUBLIC_DEV_BASE_API_ENDPOINT = 
NEXT_PUBLIC_PRODUCT_BASE_API_ENDPOINT =

NEXT_PUBLIC_GOOGLE_MAP_API_KEY =
NEXT_PUBLIC_MAPBOX_API_KEY = 
NEXT_PUBLIC_GOOGLE_MAP_ID = #Reference: https://developers.google.com/maps/documentation/get-map-id

NEXT_PUBLIC_FACEBOOK_APP_ID = 
FACEBOOK_APP_SECRET = 

NEXT_PUBLIC_FACEBOOK_CHAT_URL = 

NEXT_PUBLIC_GOOGLE_OAUTH2_CLIENT_ID =  