.auth-form-show-password {
    /* position: absolute;
    right: 6px;
    top: 18px; */
    cursor: pointer;
    padding: 4px 8px;
}

.auth-form-show-password-icon {
    fill: var(--primary-color);
    width: 26px;
    height: 26px;
}