ENVIROMENT = 
MONGODB_URI = 
DATABASE_NAME = 
APP_HOST = 
PORT = 
DOMAIN = 
FRONTEND_DOMAIN = 
# JWT
# JWT secret key
JWT_SECRET = 
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES = 
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS = 
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES = 
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES = 

# cloudinary data
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 

# register code for court owner
OWNER_CODE = 

GOOGLE_OAUTH_CLIENT_ID = 
GOOGLE_OAUTH_CLIENT_SECRET = 
GOOGLE_OAUTH_REFRESH_TOKEN = 

EMAIL_ADDRESS = 
EMAIL_PASSWORD = 

GOOGLE_ANALYTICS_PROPERTY_ID = "465695350"