:root {
    --bg: #ffffff;
    --soft-bg: #f9f9f6;
    --dark-bg: #1e1e1e;
    --text-dark: #0f0f0f;
    --text-light-1: #a1a1a1;
    --text-light-2: #d0d0d0;
    /* --primary-color: #99de47; */
    --primary-color: #8ac93d;
    --heavy-primary-color: #71b41e;
    --light-primary-color: #abd972;
    --disable-primary-color: #71b41e99;
    --secondary-color: #a7de66;
    --primary-2-color: #ccce2e;
    --dangerous-color: #d13535;
    --heavy-dangerous-color: #b21313;
    --page-max-width: 1280px;

    --break-point: 1024px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.container {
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--textColor);
    font-family: unknow, sans-serif;
}

.button {
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
    cursor: pointer;
    padding: 0 18px;
    height: 36px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;

    min-width: 70px;
    border-radius: 100px;
}

.button:hover {
    background-color: var(--heavy-primary-color);
    color: #ffffff;
}

.button.dangerous {
    background-color: var(--dangerous-color);
}

.button.dangerous:hover {
    background-color: var(--heavy-dangerous-color);
}


.disable.button:hover {
    background-color: var(--primary-color);
}

.disable {
    /* background-color: var(--disable-primary-color);
    color: rgba(255, 255, 255, 1); */
    cursor: auto;
    opacity: 0.65;
}

.disable:hover {
    cursor: auto;
    opacity: 0.65;
}

.secondary-button {
    border: none;
    background-color: #ffffff;
    color: #696969;
    cursor: pointer;
    padding: 9px 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    border: 1px solid rgba(90, 90, 90, 1);

    min-width: 70px;
    border-radius: 100px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(27, 31, 35, 0.2) 0px 0px 0px 1px; */
}

.secondary-button:hover {
    background-color: #f6f6f6;
}

.disable.secondary-button:hover {
    background-color: #f6f6f6;
}

/* .secondary-button.disable {
    color: #b5b5b5;
    background-color: rgba(0, 0, 0, .05);
    border: 2px solid #b9b9b9;
    cursor: auto;
}

.secondary-button.disable:hover {
    background-color: rgba(0, 0, 0, .05)
} */

.content-container {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* padding: 0 20px; */
}

.content-wrapper {
    /* padding: 20px 0; */
    width: 100%;
    /* margin: auto;
    max-width: var(--page-max-width); */
}

.page-width {
    width: 100%;
    max-width: var(--page-max-width);
    margin: 40px auto;
    padding: 0 20px;
}

.header-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.link {
    display: inline-block;
    /* color: blue; */
    color: var(--heavy-primary-color);
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
}

label {
    display: inline-block;
    padding-bottom: 6px;
}

.label {
    font-weight: 600;
}

.input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

/* .input:focus {
    border-color: var(--primary-color);
} */

.input:active,
.input:focus {
    border: 1px solid var(--primary-color);
    /* border-color: var(--primary-color); */
    outline-style: none;
    box-shadow: 0 0 0 0.2rem rgba(153, 222, 71, 0.25);
}

.error-message {
    font-size: 14px;
    color: red;
    margin-top: 4px;
}

.custom-scroll-bar::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

.custom-scroll-bar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    /* outline: 1px solid slategrey; */
}

.checkbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.checkbox label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox input {
    accent-color: var(--primary-color);
    color: #ffffff;
    width: 16px;
    height: 16px;
}

.checkbox span {
    line-height: 1;
    margin-left: 8px;
}

.data-table-center {
    text-align: center;
}

.react-datepicker__day {
    font-weight: 600;
}

.section {
    margin: 50px auto;
}

.section-label {
    font-size: 32px;
}

.section-link {
    color: var(--heavy-primary-color);
    font-size: 20px;
    font-weight: 600;
}

.section-link:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.hidden {
    display: none;
}

/* start cusstom carousel */
.carousel.carousel-slider {
    height: 100%;
}

.carousel .slider-wrapper {
    height: 100% !important;
}

.carousel .slider-wrapper .slider {
    height: 100%;
}

.select {}

/* end cusstom carousel */


/* start cusstom skeleton */

.react-loading-skeleton {
    margin-bottom: 4px;
}

/* end cusstom skeleton */

@media screen and (max-width: 768px) {
    .section {
        margin: 40px auto;
    }

    .section-label {
        font-size: 24px;
    }

    .section-link {
        font-size: 20px;
    }

}

/* .wrapper {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1366px) {
    .wrapper {
        max-width: 1280px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 1280px) {
    .wrapper {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        max-width: 768px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        max-width: 860px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 860px) {
    .wrapper {
        max-width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 640px;
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
        max-width: 475px;
    }
} */

@font-face {
    font-family: 'Jaro';
    src: url('/fonts/jaro/Jaro-Regular.ttf') format('ttf'),
        url('/fonts/jaro/Jaro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* MAP STYLE */
.gmnoprint{
  display: none;
}
