.court-number-container {
    /* margin: 20px 0; */
    margin-left: -4px;
}

.court-detail-body-info-block-label {
    margin-bottom: 6px;
    line-height: 1;
    font-weight: 600;

    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1;
    font-weight: 600;
}

.court-detail-body-info-block-content {
    font-weight: 600;
    font-size: 22px;
    color: var(--heavy-primary-color);
}

.court-icon-wrap {
    width: fit-content;
    width: 32px;
}

.court-detail-body-info-block-fake-icon {
    font-weight: 600;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 4px;
    color: var(--primary-color)
}

.court-icon-wrap svg {
    transform: rotate(90deg);
    width: 100%;
}