.gm-style .gm-style-iw-c{
    padding: 0;
    overflow: visible !important;
    border-radius: 16px !important;
}

.gm-style-iw-d{
    overflow: auto !important;
    /* overflow: visible !important; */
}

.gm-style-iw-chr button{
    position: absolute !important;
    right: -12px;
    top: -12px;
    width: 32px !important;
    height: 32px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #fff !important;
    border-radius: 100% !important;
}

.gm-ui-hover-effect{
    /* opacity: 1; */
}

.gm-style-iw-chr button span{
    margin: 0 !important;
    width: 28px !important;
    height: 28px !important;
}

.gm-style-iw-ch{
    padding-top: 0;
}