.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.not-found-banner {
    font-size: 200px;
    font-weight: 600;
    font-family: var(--font-barlow-condensed);
}

.not-found-text {
    font-size: 16px;
    font-weight: 600;
}

.not-found-button {
    font-weight: 600;
    font-size: 18px;
    padding: 12px 20px;
}