.court-detail-container {
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.court-detail-header {
    padding-bottom: 8px;
}

.court-detail-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.court-detail-body-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.court-detail-body-info-left {
    min-width: 450px;
}

.court-detail-body-info-right {
    max-width: 400px;
    width: 100%;
}

.court-detail-body-info-map-wapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.court-detail-body-info-open-map {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #8ac93d;
    padding: 8px 0;
}

.court-detail-body-info-open-map a {
    color: #ffffff;
    font-size: 16px;

    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 1;
}

.court-detail-body-info-block {
    margin-bottom: 20px;
}

.court-detail-body-info-map-embed {
    width: 100%;
    height: 100%;
}

.court-detail-body-info-block-label {
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
    font-weight: 600;
}

.court-detail-body-info-label {
    margin-bottom: 6px;
    line-height: 1;
    font-weight: 600;
}

.court-detail-body-images {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding-bottom: 20px;
    height: 500px;
}

.court-detail-body-images img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .court-detail-body-info-right {
        display: none;
    }

    .court-detail-body-info-left {
        min-width: 0;
        width: 100%;
    }

    .court-detail-body-images {
        height: 280px;
    }
}

@media screen and (max-width: 400px) {
    .court-detail-body-images {
        height: 200px;
    }
}