@font-face {
    font-family: 'Jaro';
    src: url('/fonts/jaro/Jaro-Regular.ttf') format('ttf'),
        url('/fonts/jaro/Jaro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}