.banner-label-container {
    font-size: 70px;
    line-height: 70px;
    letter-spacing: -1px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: start;
    font-family: var(--font-protest_riot);
}

.banner-label-container.left h2 {
    text-align: start;
}

.banner-label-container.right h2 {
    text-align: end;
}

.banner-label {}

.banner-pickleball-label {
    color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    .banner-label-container {
        font-size: 60px;
        line-height: 60px;
        letter-spacing: -1px;
    }
}

@media screen and (max-width: 550px) {
    .banner-label-container {
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -1px;
    }
}

/* @media screen and (max-width: 450px) {
    .banner-label-container {
        font-size: 35px;
        line-height: 35px;
        letter-spacing: -1px;
    }
} */