.booking-list-container {
    margin: 20px 0;
}

.booking-list-container .court-booking-container {
    border-top: 0;
}

.booking-list-items {
    margin: 16px 0;
}

.booking-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 4px;
}

.booking-list-item-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px 12px;
    flex-wrap: wrap;
}

.booking-list-item-action-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.booking-list-content {
    font-size: 14px;
}