.blog-list-container {}

.blog-list-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .blog-list-container h2 {
        font-size: 24px;
    }

    .blog-list-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .blog-list-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}